@{
    ViewBag.Title = "Bad Request (400)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Bad Request!</h1>
    <p class="lead">
        Your request seems to be invalid - is the URL right?
    </p>
</div>