@{
    ViewBag.Title = "Not Found (404)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Not Found!</h1>
    <p class="lead">
        The page you are looking for doesn't exist!
    </p>
</div>